asgiref==3.8.1
async-timeout==5.0.1
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==43.0.3
decouple==0.0.7
dj-database-url==2.3.0
Django==4.2.20
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
faker==37.3.0
google-auth==2.40.2
idna==3.10
pillow==11.2.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
PyJWT==2.9.0
python-dotenv==1.1.0
redis==6.1.0
requests==2.32.3
rsa==4.9.1
sqlparse==0.5.3
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
